@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Cairo:wght@300;400&family=Saira+Condensed:wght@300&family=Source+Sans+3&display=swap');

body {
  margin: 0;
  min-width: 340px;
  max-width: 1440px;
  min-height: 100vh;
}
